/* You can add global styles to this file, and also import other style files */
body{
    background: lightseagreen;
    padding: 3em;
    color: #fff;
}

ul li{
    display: inline;
    margin-right: 30px;
}