<div class="container color-dark">
  <div class="col">
    add a buk  item
  </div>
  <div class="col">
   <p> your buk ({{itemcount}}) </p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
 <p class="sk">use this</p>   
 
 <form>
   <input type="text" class="txt" name="item" placeholder="gol" [(ngModel)]="gt" >
   <br/>
   <input type="submit" class="btn" [value]="btnv" (click)="additem()"> <!-- [] property binding-->
 </form>
  </div>
  <div class="col">
 <p class="life-container" *ngFor = " let g of g">
{{g}}    
 </p>
  </div>
</div>
