.container{
    display: grid;
    grid-template-columns: 50% auto;
}
.col{
    padding: .4em 2em;;
}

.color-light{
    background: blue;
}

ul{
    padding: 3px;
    display: block;
}

p{
border: 3px;
}

.col{
    display: inline;
    padding-block-start: 2pt;
    background: gold;
}

.color-light{
    background: greenyellow;
}